<div class="container-fluid">
  <h3 class="title">{{title}}</h3>
   <div class="row">
	<img src="http://pe-golf.se/BKEcco/bilder/FunStuff/Humor/PippiLangstrump-01.jpg" class="img-responsive img-circle center-block">
   </div>
</div>

<form #f="ngForm" 
(ngSubmit)="onSubmit(f.value)"  
        class="ui form">
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="usrname" type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username">
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password">
  </div>

  <button type="submit" class="ui btn center-block" (click)="btnClick()" aria-label="Left Align"> Log In
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
</button>
</form>




<!--<button type="button" class="btn btn-default center-block" aria-label="Left Align"> Klicka här för dagens citat-->
  <!--<span  aria-hidden="true"></span> -->
<!--</button>-->




