<div class="container-fluid">
  <h1>Admin</h1>
  <button type="submit" class="ui btn center-block" (click)="btnClick()" aria-label="Left Align"> Highscore
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
</button>
</div>
<div class="panel-group" id="accordion">

  <div class="panel panel-default" *ngFor="let data of scoreSuggestions; let i = index" >
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#{{i}}">
          {{data.points}} Poäng:  {{data.senderID}} -> {{data.targetID}}
        </a>
      </h4>
    </div>
    <div id="{{i}}" class="panel-collapse collapse">
      <div class="panel-body">
        Motivering: {{data.motivering}} <br />

        <button (click) ="acceptData(data)" data-target="#accept" class=" btn btn-success">Accept</button>

        <div id="accept" class="collapse"></div>

        <button (click) ="declineData(data)"data-target="#decline" class=" btn btn-danger">Decline</button>

        <div id="decline" class="collapse"></div>
  
        <button (click) ="addPoints(data)" class=" btn btn-success">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
        </button>
        <span>{{data.points}}</span>
        <button (click) ="subtractPoints(data)" class=" btn btn-danger">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
        </button>

        <div id="decline" class="collapse"></div>
      </div>
    </div>
  </div>
  
</div>
