<div class=" text-center">
  <h1>{{user}}</h1>
</div>

<div class="dropdown text-center">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Välj idiot
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Jesper</a></li>
    <li><a href="#">Axel</a></li>
    <li><a href="#">Oliver</a></li>
    <li><a href="#">Jonas</a></li>
    <li><a href="#">Krill</a></li>
    <li><a href="#">Andreas</a></li>
    <li><a href="#">Christian</a></li>
    <li><a href="#">Johan A</a></li>
  </ul>
</div>
<div class="text-center">
  <h1>Motivering av poäng</h1>
</div>
  <div class="row">
    <div class="col-xs-12"><div class="form-group">
      
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
  </div>
</div>
<div class="text-center">
  <h1>Poäng</h1>
</div>
<select class="form-control">
    <option value="-10">-10</option>
    <option value="-9">-9</option>
    <option value="-8">-8</option>
    <option value="-7">-7</option>
    <option value="-6">-6</option>
    <option value="-5">-5</option>
    <option value="-4">-4</option>
    <option value="-3">-3</option>
    <option value="-2">-2</option>
    <option value="-1">-1</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>
<button type="button" class="btn btn-default center-block" aria-label="Left Align"> Skicka för utvärdering
  <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> 
</button>
