<div class="container-fluid">
  <h1>Highscore</h1>
  <button type="submit" class="ui btn center-block" (click)="btnClick()" aria-label="Left Align"> Highscore
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
</button>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default" *ngFor="let score of scoreList.slice().reverse()" >
      <div class="panel-heading">
        <h4 class="panel-title">
              {{score.name}} poäng: {{score.points}}
        </h4>
      </div>
    </div>
</div>